.custom-content-terms-of-use {
    text-align: justify;
    line-height: 1.7;
    padding-bottom: 80px;
}

.custom-content-terms-of-use p {
    font-size: 16px;
    padding: 12px 0;
}

.custom-content-terms-of-use ul {
    list-style-type: disc;
    padding-left: 32px;
}

.custom-content-terms-of-use li {
    font-size: 15px;
    font-style: italic;
    padding: 12px 0;
}

.custom-content-terms-of-use h2 {
    font-size: 23px;
    padding: 24px 0;
    font-weight: 600;
}

.custom-content-terms-of-use h3 {
    font-size: 18px;
    padding: 12px 0;
    font-weight: 500;
}